<div>
    <div *ngIf="$stock | async as stock; else loading">
        <span>symbol: {{ stock.symbol }}</span>
        <span>price: {{ stock.price }}</span>
    </div>
    <ng-template #loading>
        <span>Loading stock information...</span>
    </ng-template>

    <form #tradeTicket="ngForm" (ngSubmit)="onClickSubmit(tradeTicket.value)" *ngIf="stock">
        <input type="hidden" name="symbol" [ngModel]="stock.symbol">
        <input type="number" name="quantity" placeholder="Enter Number of Shares" ngModel />
        <br />
        <input type="number" name="price" placeholder="Bid Price" ngModel />
        <br />
        <input type="submit" value="Buy">
    </form>
</div>